/*<-----------------------------------Home--------------------------------------------->*/
@font-face {
  font-family: 'OpenSans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('OpenSans Regular'), url('../fonts/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Bold'), url('../fonts/Montserrat-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Regular'), url('../fonts/Montserrat-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Pacifico Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Pacifico Regular'), url('../fonts/Pacifico.woff') format('woff');
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}
ol,
ul,
li {
  padding: 0;
  list-style: none;
  margin: 0;
}
label {
  font-weight: normal;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  padding-left: 12px;
  padding-right: 12px;
}
select {
  padding-left: 5px;
  padding-right: 8px;
}
input[type="number"] {
  padding-left: 5px;
}
textarea {
  padding: 5px 12px;
}
input,
textarea,
select,
button,
a {
  outline: none;
}
button {
  border: none;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: 'OpenSans Regular';
}
p {
  font-size: 14px;
}
h1 {
  font-size: 24px;
  font-family: 'Montserrat Bold';
}
h2 {
  font-size: 20px;
  font-family: 'Montserrat Bold';
}
h3 {
  font-size: 16px;
  font-family: 'Montserrat Bold';
}
h4 {
  font-size: 14px;
  font-family: 'Montserrat Bold';
}
h5 {
  font-size: 12px;
  font-family: 'Montserrat Bold';
}
button {
  font-family: 'Montserrat Regular';
}
.c-img {
  height: 100%;
  width: 100%;
}
.btn {
  font-size: 14px;
  padding: 8px 16px;
}
.btn:hover {
  color: #ffeb3b;
}
.btn-violet {
  color: white;
  background-color: #8262b5;
  border-radius: 0;
}
.btn-white {
  color: #222222;
  background-color: white;
  border-radius: 0;
}
.btn-white:hover {
  color: #8262b5;
}
main {
  padding: 15px 0;
  padding-bottom: 0;
}
.banner .row .col-lg-8 {
  padding-left: 0;
  padding-right: 0;
}
.bn-large {
  height: 560px;
  position: relative;
  margin-top: 15px;
  margin-left: 15px;
}
.bn-large .bn-l-title {
  position: absolute;
  top: 320px;
  right: 104px;
}
.bn-large .bn-l-title h1 {
  font-family: 'Pacifico Regular';
  font-weight: bold;
  margin-bottom: 18px;
  font-size: 30px;
}
.bn-large .bn-l-title button {
  float: right;
}
.bn-sm {
  position: relative;
  height: 200px;
  width: 360px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 5px;
}
.bn-sm .bn-sm-title {
  position: absolute;
  top: 88px;
  left: 57px;
}
.bn-sm .bn-sm-title h2 {
  text-transform: uppercase;
  font-family: 'Montserrat Bold';
  color: #222222;
}
.bn-sm .bn-sm-title h3 {
  text-transform: uppercase;
  color: #676767;
  font-family: 'Montserrat Regular';
  letter-spacing: 3px;
}
.bn-medium {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 360px;
  height: 304px;
  position: relative;
  margin-left: 5px;
}
.bn-medium img {
  height: 100%;
  width: 100%;
}
.bn-medium .bn-med-title {
  position: absolute;
  top: 123px;
  left: 40px;
}
.bn-medium .bn-med-title h2 {
  text-transform: uppercase;
  font-family: 'Montserrat Bold';
  color: #222222;
  margin-bottom: 18px;
}
.bn-medium .bn-med-title h3 {
  text-transform: uppercase;
  color: #676767;
  font-family: 'Montserrat Regular';
}
.product {
  margin: 40px 0 45px;
}
.product .container {
  padding-left: 0;
}
.pr-hd h5 {
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #8262b5;
}
.pr-hd h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
  padding-top: 4px;
}
.pr-hd hr {
  background: #8262b5;
  width: 50px;
  margin-top: 30px;
}
.pr-it-img {
  position: relative;
  margin-bottom: 10px;
}
.pr-it-img button {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 12px;
}
.pr-it-title {
  padding: 5px 0;
}
.pr-it-title h4 {
  padding: 5px 0;
}
.pr-it-title .pr-it-t-price p {
  font-size: 16px;
  margin-right: 5px;
  padding: 5px 0;
  color: #676767;
}
.pr-it-title .pr-it-t-price span {
  font-size: 16px;
  color: #8262b5;
  font-family: 'OpenSans Regular';
  font-weight: bold;
  padding: 5px 0;
}
.yellow-star {
  color: #f8ba04;
}
.grey-star {
  color: #d1d1d1;
}
.news {
  padding: 65px 120px 18px 120px;
  background-image: url(../images/news/bg-news_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.new-hd h5 {
  padding: 14px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #8262b5;
  text-align: center;
}
.new-hd h1 {
  text-transform: uppercase;
  text-align: center;
}
.new-hd hr {
  background: #8262b5;
  width: 50px;
  margin: 0 auto;
  margin-top: 23px;
}
.news-item {
  width: 360px;
  padding: 15px;
}
.news-i-img {
  position: relative;
}
.news-i-img-calendar {
  position: absolute;
  top: 22px;
  left: 20px;
  width: 60px;
  height: 60px;
  background: #a1d1dd;
  color: white;
  padding: 6px;
}
.news-i-img-calendar .border-calendar {
  border: 1px solid;
  height: 100%;
  padding-top: 5px;
}
.news-i-img-calendar .border-calendar p {
  margin-bottom: 5px;
}
.new-i-title {
  padding: 20px;
  background: white;
  border-bottom: 1px solid #ededed;
}
.new-i-title h3 {
  font-family: 'Montserrat Regular';
  font-weight: bold;
  margin-bottom: 25px;
}
.react {
  padding: 20px 5px;
  background: white;
  color: #676767;
}
.react-item {
  padding: 0 15px;
}
.react-item a {
  font-size: 14px;
}
.slide-news {
  padding: 50px 0px;
}
.slide-news .slick-dots {
  bottom: 16px;
}
.slide-news .slick-dots li button:before {
  font-size: 10px;
}
.slide-news .slick-dots li.slick-active button:before {
  font-size: 13px;
}
.slide-news .slick-dots li button:before {
  color: #8262b5;
}
/* Dành cho điện thoại */
@media all and (min-width: 320px) {
  .logo {
    padding-left: 33px;
  }
  .th-right {
    display: inline-block;
  }
  .th-right .th-right-item {
    padding-bottom: 5px;
  }
  .bn-large {
    height: auto;
    margin-left: 0;
  }
  .bn-large .bn-l-title {
    position: absolute;
  }
  .bn-large .bn-l-title h1 {
    font-size: 16px;
  }
  .bn-sm {
    height: auto;
  }
  .bn-medium {
    height: auto;
  }
  .menu-nav {
    display: none;
    position: fixed;
    z-index: 1;
    color: white;
    background: #222222;
    left: 0;
    top: 168px;
    width: 100%;
  }
  .menu-nav ul li {
    display: block;
    text-align: center;
  }
  .right-nav {
    display: none;
  }
}
/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 600px) {
  .bn-large .bn-l-title h1 {
    font-size: 24px;
  }
  .th-right {
    display: flex;
  }
  .th-right .th-right-item {
    padding-bottom: 0px;
  }
}
@media all and (min-width: 990px) {
  .icon-nav {
    right: 3%;
  }
}
/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 1024px) {
  .menu-nav {
    display: block;
    position: static;
    z-index: 0;
    color: #222222;
    background: transparent;
    left: 0;
  }
  .right-nav {
    display: block;
  }
  .icon-nav {
    display: none;
  }
  .menu-nav ul li {
    display: inline-block;
  }
}
/* Dành cho màn hình desktop */
@media all and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}
