/* 
1.0 Base
    1.1 Base
    1.2 Header
    1.3 Footer
    
2.0 Content
    2.1 Home Page
    2.2 Blog Content
*/
@font-face {
  font-family: 'OpenSans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('OpenSans Regular'), url('../fonts/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Bold'), url('../fonts/Montserrat-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Regular'), url('../fonts/Montserrat-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Pacifico Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Pacifico Regular'), url('../fonts/Pacifico.woff') format('woff');
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: block;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}
ol,
ul,
li {
  padding: 0;
  list-style: none;
  margin: 0;
}
label {
  font-weight: normal;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  padding-left: 12px;
  padding-right: 12px;
}
select {
  padding-left: 5px;
  padding-right: 8px;
}
input[type="number"] {
  padding-left: 5px;
}
textarea {
  padding: 5px 12px;
}
input,
textarea,
select,
button,
a {
  outline: none;
}
button {
  border: none;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: 'OpenSans Regular';
}
p {
  font-size: 14px;
}
h1 {
  font-size: 24px;
  font-family: 'Montserrat Bold';
}
h2 {
  font-size: 20px;
  font-family: 'Montserrat Bold';
}
h3 {
  font-size: 16px;
  font-family: 'Montserrat Bold';
}
h4 {
  font-size: 14px;
  font-family: 'Montserrat Bold';
}
h5 {
  font-size: 12px;
  font-family: 'Montserrat Bold';
}
button {
  font-family: 'Montserrat Regular';
}
.c-img {
  height: 100%;
  width: 100%;
}
.btn {
  font-size: 14px;
  padding: 8px 16px;
}
.btn:hover {
  color: #ffeb3b;
}
.btn-violet {
  color: white;
  background-color: #8262b5;
  border-radius: 0;
}
.btn-white {
  color: #222222;
  background-color: white;
  border-radius: 0;
}
.btn-white:hover {
  color: #8262b5;
}
/*<-----------------------------------Home--------------------------------------------->*/
.icon-nav {
  display: none;
}
.top-hd {
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #222222;
}
.th-left {
  padding-left: 15px;
  display: flex;
}
.th-left p {
  margin-left: 5px;
  color: #676767;
}
.th-left i {
  color: #676767;
}
.th-right {
  display: flex;
  padding-right: 4px;
}
.th-right-item {
  display: flex;
  padding: 0 15px;
}
.th-right-item p {
  margin-left: 5px;
  color: #676767;
}
.th-right-item i {
  color: #676767;
}
nav.nav-fix {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}
nav {
  position: relative;
  padding: 20px 0px 15px 15px;
  border-bottom: 1px solid #676767;
  background: white;
}
div.d-block {
  display: block;
}
.icon-nav {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  cursor: pointer;
  z-index: 1;
}
button:focus.icon-nav {
  outline: none;
}
.scroll-top {
  transform: rotate(-90deg);
  letter-spacing: 0.2em;
  position: fixed;
  transition: all 0.3s;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  bottom: -100px;
  right: 10px;
  cursor: pointer;
}
.scroll-top i {
  font-size: 15px;
}
a.scroll-top:hover {
  color: #8262b5;
}
a.scroll-top:hover:before {
  background: #8262b5;
}
a.bottom-100 {
  bottom: 100px;
}
a.scroll-top:before {
  content: "";
  height: 14px;
  width: 1.5px;
  background: black;
  position: absolute;
  transform: rotate(-90deg);
  left: -20px;
}
div.t-82px {
  top: 71px;
}
.menu-nav {
  padding-left: 42px;
}
.menu-nav ul li {
  display: inline-block;
  padding: 13px 0px 16px;
  margin-right: 50px;
}
.menu-nav ul li a {
  font-family: 'Montserrat Bold';
  text-transform: uppercase;
  font-size: 14px;
}
.right-nav {
  display: flex;
  justify-content: flex-end;
}
.right-nav a {
  font-size: 30px;
  margin: 0 14px;
  padding-top: 6px;
}
main {
  padding-bottom: 0;
}
.banner {
  padding-top: 30px;
}
.bn-large {
  height: 560px;
}
.bn-large .bn-l-title {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  margin-top: 30px;
  right: 94px;
}
.bn-large .bn-l-title h1 {
  font-family: 'Pacifico Regular';
  font-weight: bold;
  margin-bottom: 18px;
  font-size: 30px;
  letter-spacing: 0.1px;
}
.bn-large .bn-l-title button {
  float: right;
}
.bn-sm {
  position: relative;
  height: 200px;
}
.bn-sm .bn-sm-title {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  left: 57px;
}
.bn-sm .bn-sm-title h2 {
  text-transform: uppercase;
  font-family: 'Montserrat Bold';
  color: #222222;
  margin-top: 3px;
}
.bn-sm .bn-sm-title h3 {
  text-transform: uppercase;
  color: #676767;
  font-family: 'Montserrat Regular';
  letter-spacing: 3px;
}
.bn-medium {
  margin-top: 30px;
  height: 330px;
  position: relative;
}
.bn-medium img {
  height: 100%;
  width: 100%;
}
.bn-medium .bn-med-title {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  left: 40px;
}
.bn-medium .bn-med-title h2 {
  text-transform: uppercase;
  font-family: 'Montserrat Bold';
  color: #222222;
  margin-bottom: 17px;
}
.bn-medium .bn-med-title h3 {
  text-transform: uppercase;
  color: #676767;
  font-family: 'Montserrat Regular';
  letter-spacing: 3px;
  margin-bottom: 4px;
}
.bn-medium .bn-med-title button {
  margin-left: 2px;
  padding-left: 19px;
}
.product {
  margin-top: 70px;
}
.product-lst {
  margin: 20px 0 30px;
}
.pr-hd h5 {
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #8262b5;
}
.pr-hd h1 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 30px;
  position: relative;
}
.pr-hd h1:after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #8262b5;
  width: 50px;
  bottom: 0;
  left: 0;
}
.pr-it-img {
  position: relative;
  margin-bottom: 10px;
}
.pr-it-img button {
  position: absolute;
  bottom: 8px;
  left: 5px;
  font-size: 12px;
}
.pr-item {
  margin-top: 30px;
  margin-bottom: 30px;
}
.pr-it-title {
  padding: 5px 0;
}
.pr-it-title h4 {
  padding: 5px 0 7px;
}
.pr-it-title .star-rating {
  margin-left: 1px;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 5px;
}
.pr-it-title .pr-it-t-price p {
  font-size: 16px;
  margin-right: 3px;
  padding: 5px 0;
  color: #676767;
}
.pr-it-title .pr-it-t-price span {
  font-size: 16px;
  color: #8262b5;
  font-family: 'OpenSans Regular';
  font-weight: bold;
  padding: 5px 0;
}
.yellow-star {
  color: #f8ba04;
  margin: 0 -1px;
}
.grey-star {
  color: #d1d1d1;
}
.news {
  padding: 65px 120px 18px 120px;
  background-image: url(../images/news/bg-news_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.new-hd h5 {
  padding: 14px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #8262b5;
  text-align: center;
}
.new-hd h1 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding-bottom: 26px;
}
.new-hd h1:after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #8262b5;
  bottom: 0;
  width: 50px;
  transform: translateX(-50%);
  left: 50%;
}
.news-item {
  width: 360px;
  padding: 15px;
}
.news-i-img {
  position: relative;
}
.news-i-img-calendar {
  position: absolute;
  top: 22px;
  left: 20px;
  width: 60px;
  height: 60px;
  background: #a1d1dd;
  color: white;
  padding: 6px;
}
.news-i-img-calendar .border-calendar {
  border: 1px solid;
  height: 100%;
  padding-top: 5px;
}
.news-i-img-calendar .border-calendar p {
  margin-bottom: 5px;
}
.new-i-title {
  padding: 20px;
  background: white;
  border-bottom: 1px solid #ededed;
}
.new-i-title h3 {
  font-family: 'Montserrat Regular';
  font-weight: bold;
  margin-bottom: 25px;
}
.new-i-title p {
  line-height: 22px;
}
.react {
  padding: 20px 5px;
  background: white;
  color: #676767;
}
.react-item {
  padding: 0 15px;
}
.react-item a {
  font-size: 14px;
}
.slide-news {
  padding: 50px 0px;
}
.slide-news .slick-dots {
  bottom: 16px;
}
.slide-news .slick-dots li button:before {
  font-size: 12px;
}
.slide-news .slick-dots li.slick-active button:before {
  font-size: 15px;
}
.slide-news .slick-dots li button:before {
  color: #8262b5;
}
.ft-main {
  padding: 30px 0;
  background-color: #222222;
}
.ft-main h3 {
  padding: 30px 0;
  border-bottom: 1px solid #393939;
  color: #f7f7f7;
}
.ft-main p {
  padding: 30px 0;
  color: #676767;
  line-height: 20px;
}
.ft-main a {
  margin-right: 30px;
  font-size: 16px;
  color: #676767;
}
.ft-nav {
  padding: 20px 0;
  justify-content: space-between;
}
.ft-nav .ft-nav-left,
.ft-nav .ft-nav-right {
  width: 50%;
}
.ft-nav .ft-nav-left ul li,
.ft-nav .ft-nav-right ul li {
  padding: 8px 0;
}
.ft-nav .ft-nav-left ul li a,
.ft-nav .ft-nav-right ul li a {
  color: #676767;
  text-transform: capitalize;
  font-size: 14px;
}
.ft-nav .ft-nav-left ul li a:hover,
.ft-nav .ft-nav-right ul li a:hover {
  text-decoration: underline;
  color: white;
}
.ft-bottom {
  padding: 30px 0;
  border-top: 1px solid grey;
  background-color: #222222;
}
.ft-bottom p {
  color: #676767;
}
.ft-bottom a {
  color: white;
}
.ft-bt-right img {
  border-radius: 4px;
}
.p-15 {
  padding: 15px 0 !important;
}
.p-bt-15 {
  padding-bottom: 15px !important;
}
.ft-bt-right a {
  margin-right: 5px;
}
/* Dành cho điện thoại */
@media only screen and (min-width: 320px) and (max-width: 447px) {
  .menu-nav {
    background: #222222;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    padding-left: 0;
    color: white;
    top: 160px;
    display: none;
  }
  .menu-nav ul li {
    display: block;
    text-align: center;
    padding-right: 0;
    width: 100%;
  }
  .menu-nav ul li:hover {
    background: #8262b5;
  }
  .logo {
    display: none;
  }
  .icon-nav {
    display: block;
  }
  .news {
    padding: 65px 30px 18px 30px;
  }
}
@media only screen and (min-width: 448px) and (max-width: 693px) {
  .menu-nav {
    background: #222222;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    padding-left: 0;
    color: white;
    top: 130px;
    display: none;
  }
  .menu-nav ul li {
    display: block;
    text-align: center;
    padding-right: 0;
    width: 100%;
  }
  .menu-nav ul li:hover {
    background: #8262b5;
  }
  .logo {
    display: none;
  }
  .icon-nav {
    display: block;
  }
  .news {
    padding: 65px 30px 18px 30px;
  }
}
@media all and (min-width: 694px) and (max-width: 1023px) {
  .menu-nav {
    background: #222222;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    padding-left: 0;
    color: white;
    top: 119px;
    display: none;
  }
  .menu-nav ul li {
    display: block;
    text-align: center;
    padding-right: 0;
    width: 100%;
  }
  .menu-nav ul li:hover {
    background: #8262b5;
  }
  .logo {
    display: none;
  }
  .icon-nav {
    display: block;
  }
  .news {
    padding: 65px 30px 18px 30px;
  }
}
@media all and (max-width: 575px) {
  .news {
    padding: 65px 15px 18px 15px;
  }
}
@media all and (max-width: 767px) {
  .bn-large .bn-l-title {
    top: 50%;
    right: 10%;
  }
  .bn-large .bn-l-title h1 {
    font-size: 25px;
  }
}
@media all and (max-width: 991px) {
  .bn-large {
    height: auto;
  }
  .bn-sm {
    height: auto;
    margin-top: 30px;
  }
  .bn-medium {
    height: auto;
  }
  .pr-item .pr-it-img a img {
    width: 100%;
  }
}
/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 1024px) and (max-width: 1223px) {
  .menu-nav {
    padding-left: 0px;
  }
  .menu-nav ul li {
    margin-right: 10px;
  }
}
@media all and (min-width: 1224px) and (max-width: 1366px) {
  .menu-nav ul li {
    margin-right: 30px;
  }
}
@media all and (min-width: 1824px) {
  .bn-large {
    width: 750px;
    margin-left: -7px;
  }
  .bn-sm {
    margin-left: 14px;
    width: 360px;
  }
  .bn-medium {
    margin-left: 14px;
    width: 360px;
  }
  .product {
    margin-top: 68px;
    margin-left: -13px;
  }
  .pr-hd h1 {
    padding-top: 5px;
    margin-left: -1px;
    padding-bottom: 25px;
  }
  .pr-item {
    margin-left: -7px;
  }
  .row-prl {
    margin-right: -40px;
    margin-left: -20px;
  }
  .pr-hd h1:after {
    left: 2px;
  }
  .pr-it-title h4 {
    padding: 2px 0 7px;
  }
  .pr-it-img .btn {
    font-size: 12px;
    padding: 11px 16px 8px;
  }
  .pr-it-img button {
    bottom: 7px;
  }
  .pr-item {
    margin-bottom: 10px;
  }
  .product-lst {
    margin: 20px 0 60px;
  }
  .new-hd h1 {
    letter-spacing: 2px;
  }
  .slide-news {
    padding: 36px 250px 30px;
  }
  .new-i-title {
    padding: 19px 30px 14px 18px;
  }
  .new-i-title h3 {
    margin-bottom: 20px;
  }
  .slide-news .slick-dots {
    position: unset;
    margin-top: 10px;
  }
  .slick-dots li {
    margin: 0 2px;
  }
  .news {
    padding: 65px 120px 4px 120px;
  }
  .row.row-2k {
    margin-right: -40px;
    margin-left: -23px;
  }
  .ft-main {
    padding: 32px 0 15px 0;
  }
  .ft-main h3 {
    padding: 30px 0 28px 0;
  }
  .ft-main p {
    padding: 23px 0 43px 1px;
    line-height: 22px;
  }
  .ft-nav-right {
    padding-left: 15px;
  }
  .ft-r-chil p {
    padding: 21px 0 30px 1px;
    line-height: 32px;
  }
  .ft-social {
    margin-right: 33px;
  }
  .ft-bt-left {
    margin-left: -5px;
  }
  .ft-bottom {
    padding: 28px 0 30px;
  }
  .ft-bottom p {
    margin-right: 5px;
  }
  .ft-bt-right {
    margin-top: -4px;
  }
  .ft-bt-right a {
    margin-right: 5px;
  }
}
