/* 
1.0 Base
    1.1 Base
    1.2 Header
    1.3 Footer
    
2.0 Content
    2.1 Home Page
    2.2 Blog Content
*/

@import "./base/_base.less";
@import "./base/_header.less";
@import './base/_footer.less';

@import './content/_home_page_content.less';
@import './common/configskin/_skin.less';


//-------------------------------TOP Header
.icon-nav{
    display: none;
}

.top-hd {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    background-color: @black;
}

.th-left {
    padding-left: 15px;
    display: flex;
    p{
        margin-left: 5px;
        color: @grey;
    }
    i{
        color: @grey;
    }
}

.th-right {
    display: flex;
    padding-right: 4px;
}

.th-right-item {
    display: flex;
    padding: 0 15px;

    p{
        margin-left: 5px;
        color: @grey;
    }
    
    i{
        color: @grey;
    }
}


//-------------------------------End - TOP Header

//-------------------------------NAVBAR

nav.nav-fix{
    position: fixed;;
    width: 100%;
    z-index: 1;
    top: 0;
}

nav{
    position: relative;
    padding: 20px 0px 15px 15px;
    border-bottom: 1px solid @grey;
    background: white
}

div.d-block{
    display: block;
}

.icon-nav {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    cursor: pointer;
    z-index: 1;
}
button:focus.icon-nav{
    outline: none;
}

.scroll-top {
    transform: rotate(-90deg);
    letter-spacing: .2em;
    position: fixed;
    transition: all .3s;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    bottom: -100px;
    right: 10px;
    cursor: pointer;
    i{
        font-size: 15px;
    }
}

a.scroll-top:hover{
    color: @violet;
}

a.scroll-top:hover:before{
    background: @violet;
}


a.bottom-100{
    bottom: 100px;
}

a.scroll-top:before {
    content: "";
    height: 14px;
    width: 1.5px;
    background: black;
    position: absolute;
    transform: rotate(-90deg);
    left: -20px;
}

div.t-82px{
    top: 71px;
}

.menu-nav {
    padding-left: 42px;

    ul{
        li{
            display: inline-block;
            padding: 13px 0px 16px;
            margin-right: 50px;

            a{
                font-family: @mont-bold;
                text-transform: uppercase;
                //padding: 0px 25px;
                font-size: 14px;
            }
        }
    }
}

.right-nav {
    display: flex;
    justify-content: flex-end;

    a{
        font-size: 30px;
        margin: 0 14px;
        padding-top: 6px;
    }
}

//-------------------------------End - NAVBAR


//-------------------------------Home
main{
    padding-bottom: 0;
}

.banner {
    padding-top: 30px;
}

.bn-large {    
    height: 560px;

    .bn-l-title {
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        margin-top: 30px;
        right: 94px;

        h1{
            font-family: @pacifico;
            font-weight: bold;
            margin-bottom: 18px;
            font-size: 30px;
            letter-spacing: 0.1px;
        }
        button{
            float: right;
        }
    }
}

.bn-sm {
    position: relative;
    height: 200px;
    
    .bn-sm-title {
        position: absolute;
        top: 54%;
        transform: translateY(-50%);
        left: 57px;

        h2{
            text-transform: uppercase;
            font-family: @mont-bold;
            color: @black;
            margin-top: 3px;
        }

        h3{
            text-transform: uppercase;
            color: @grey;
            font-family: @mont-regular;
            letter-spacing: 3px;
        }
    }
}

.bn-medium {
    margin-top: 30px;
    height: 330px;
    position: relative;

    img{
        height: 100%;
        width: 100%;
    }

    .bn-med-title {
        position: absolute;
        top: 52%;
        transform: translateY(-50%);
        left: 40px;

        h2{
            text-transform: uppercase;
            font-family: @mont-bold;
            color: @black;
            margin-bottom: 17px;
        }

        h3{
            text-transform: uppercase;
            color: @grey;
            font-family: @mont-regular;
            letter-spacing: 3px;
            margin-bottom: 4px;
        }

        button{
            margin-left: 2px;
            padding-left: 19px;
        }
    }
}

//-------------------------------End - MAIN


//-------------------------------Product
.product {
    margin-top: 70px;
}

.product-lst {
    margin: 20px 0 30px;
}

.pr-hd {
    h5{
        padding: 10px 0;
        text-transform: uppercase;
        letter-spacing: 6px;
        color: @violet;
    }

    h1{
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 25px;
        padding-top: 10px;
        padding-bottom: 30px;
        position: relative;
    }

    h1:after{
        position: absolute;
        content: "";
        border-bottom: 1px solid @violet;
        width: 50px;
        bottom: 0;
        left: 0;
    }
}

.pr-it-img {
    position: relative;
    margin-bottom: 10px;

    button{
        position: absolute;
        bottom: 8px;
        left: 5px;
        font-size: 12px;
    }
}

.pr-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.pr-it-title {
    padding: 5px 0;

    h4{
        padding: 5px 0 7px;
    }

    .star-rating
    {
        margin-left: 1px;
        font-size: 13px;
        margin-top: 4px;
        margin-bottom: 5px;
    }

    .pr-it-t-price{
        p{
            font-size: 16px;
            margin-right: 3px;
            padding: 5px 0;
            color: @grey;
        }

        span{
            font-size: 16px;
            color: @violet;
            font-family: @openSans;
            font-weight: bold;
            padding: 5px 0;
        }
    }
}

.yellow-star{
    color: @yellow;
    margin: 0 -1px;
}
.grey-star{
    color: #d1d1d1;
}

//-------------------------------End Product

//------------------------------- NEWS
.news {
    padding: 65px 120px 18px 120px;
    background-image: url(../images/news/bg-news_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.new-hd{

    h5{
        padding: 14px 0;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: @violet;
        text-align: center;
    }

    h1{
        text-transform: uppercase;
        text-align: center;
        position: relative;
        padding-bottom: 26px;
    }

    h1:after {
        position: absolute;
        content: "";
        border-bottom: 1px solid @violet;
        bottom: 0;
        width: 50px;
        transform: translateX(-50%);
        left: 50%;
    }
}

.news-item {
    width: 360px;
    padding: 15px;
}

.news-i-img {
    position: relative;
}

.news-i-img-calendar {
    position: absolute;
    top: 22px;
    left: 20px;
    width: 60px;
    height: 60px;
    background: #a1d1dd;
    color: white;
    padding: 6px;

    .border-calendar {
        border: 1px solid;
        height: 100%;
        padding-top: 5px;

        p{
            margin-bottom: 5px;
        }
    }
}

.new-i-title {
    padding: 20px;
    background: white;
    border-bottom: 1px solid #ededed;

    h3{
        font-family: @mont-regular;
        font-weight: bold;
        margin-bottom: 25px;
    }

    p{
        line-height: 22px;
    }
}

.react{
    padding: 20px 5px;
    background: white;
    color: @grey;
}

.react-item {
    padding: 0 15px;

    a{
        font-size: 14px;
    }
}

.slide-news {
    padding: 50px 0px;
    
    .slick-dots{
        bottom: 16px;

        li{
            button:before{
                font-size: 12px;
            }
        }

        li.slick-active button:before{
            font-size: 15px;
        }
    }
    
    .slick-dots li button:before{
        color: @violet;
    } 
}


//-------------------------------End NEWS

//-------------------------------FOOTER
.ft-main {
    padding: 30px 0;
    background-color: @black;

    h3{
        padding: 30px 0;
        border-bottom: 1px solid #393939;
        color: #f7f7f7;
    }

    p{
        padding: 30px 0;
        color: @grey;
        line-height: 20px;
    }

    a{
        margin-right: 30px;
        font-size: 16px;
        color: @grey;
    }
}

.ft-nav
{
    padding: 20px 0;
    justify-content: space-between;

    .ft-nav-left,.ft-nav-right{
        width: 50%;

        ul{
            li{
                padding: 8px 0;

                a{
                    color: @grey;
                    text-transform: capitalize;
                    font-size: 14px;
                }

                a:hover{
                    text-decoration: underline;
                    color: white;
                }
            }
        }
    }
}
.ft-bottom {
    padding: 30px 0;
    border-top: 1px solid grey;
    background-color: @black;
    p{
        color: @grey;
    }
    a{
        color: white;
    }
}

.ft-bt-right img {
    border-radius: 4px;
}

.p-15{
    padding: 15px 0 !important;
}

.p-bt-15{
    padding-bottom: 15px !important;
}

.ft-bt-right{

    a{
        margin-right: 5px;
    }
}

//-------------------------------End FOOTER

//-------------------------------Responsive

/* Dành cho điện thoại */
@media only screen and (min-width: 320px) and (max-width: 447px) {

    .menu-nav {
        background: #222222;
        position: fixed;
        z-index: 1;
        width: 100%;
        left: 0;
        padding-left: 0;
        color: white;
        top: 160px;
        display: none;

        ul{
            li{
                display: block;
                text-align: center;
                padding-right: 0;
                width: 100%;
            }

            li:hover{
                background: @violet;
            }
        }
    }

    .logo{
        display: none;
    }

    .icon-nav {
        display: block;
    }

    .news{
        padding: 65px 30px 18px 30px;
    }

}

@media only screen and (min-width: 448px) and (max-width: 693px) {

    .menu-nav {
        background: #222222;
        position: fixed;
        z-index: 1;
        width: 100%;
        left: 0;
        padding-left: 0;
        color: white;
        top: 130px;
        display: none;

        ul{
            li{
                display: block;
                text-align: center;
                padding-right: 0;
                width: 100%;
            }

            li:hover{
                background: @violet;
            }
        }
    }

    .logo{
        display: none;
    }

    .icon-nav {
        display: block;
    }

    .news{
        padding: 65px 30px 18px 30px;
    }
}

// /* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 694px) and (max-width: 1023px) {

    .menu-nav {
        background: #222222;
        position: fixed;
        z-index: 1;
        width: 100%;
        left: 0;
        padding-left: 0;
        color: white;
        top: 119px;
        display: none;

        ul{
            li{
                display: block;
                text-align: center;
                padding-right: 0;
                width: 100%;
            }

            li:hover{
                background: @violet;
            }
        }
    }

    .logo{
        display: none;
    }

    .icon-nav {
        display: block;
    }

    .news{
        padding: 65px 30px 18px 30px;
    }
}

@media all and (max-width: 575px) {
    .news {
        padding: 65px 15px 18px 15px;
    }
}

@media all and (max-width: 767px) {
    .bn-large .bn-l-title{
        top: 50%;
        right: 10%;

        h1{
            font-size: 25px;
        }
    }
}

@media all and (max-width: 991px) {
    .bn-large{
        height: auto;
    }

    .bn-sm{
        height: auto;
        margin-top: 30px;
    }

    .bn-medium{
        height: auto;
    }

    .pr-item{

        .pr-it-img{

            a{

                img{
                    width: 100%;
                }
            }
        }
    }
}
 
/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 1024px) and (max-width : 1223px){
    .menu-nav{
        padding-left: 0px;

        ul{

            li{
                margin-right: 10px;
            }
        }
    }
    
}

// /* Dành cho màn hình desktop Thường */
@media all and (min-width: 1224px) and (max-width : 1366px) {
    .menu-nav{

        ul{

            li{
                margin-right: 30px;
            }
        }
    }
}

// /* Dành cho màn hình desktop 2K */
@media all and (min-width: 1824px) {
    .bn-large {
        width: 750px;
        margin-left: -7px;
    }

    .bn-sm {
        margin-left: 14px;
        width: 360px;
    }

    .bn-medium {
        margin-left: 14px;
        width: 360px;
    }

    .product {
        margin-top: 68px;
        margin-left: -13px;
    }

    .pr-hd h1 {
        padding-top: 5px;
        margin-left: -1px;
        padding-bottom: 25px;
    }

    .pr-item {
        margin-left: -7px;
    }

    .row-prl{
        margin-right: -40px;
        margin-left: -20px;
    }

    .pr-hd h1:after{
        left: 2px;
    }

    .pr-it-title h4 {
        padding: 2px 0 7px;
    }

    .pr-it-img{

        .btn {
            font-size: 12px;
            padding: 11px 16px 8px;
        }

        button{
            bottom: 7px;
        }
    }
    
    .pr-item {
        margin-bottom: 10px;
    }

    .product-lst {
        margin: 20px 0 60px;
    }

    .new-hd h1 {
        letter-spacing: 2px;
    }

    .slide-news {
        padding: 36px 250px 30px;
    }

    .new-i-title {
        padding: 19px 30px 14px 18px;
    }

    .new-i-title h3{
        margin-bottom: 20px;
    }

    .slide-news .slick-dots {
        position: unset;
        margin-top: 10px;
    }

    .slick-dots li{
        margin: 0 2px;
    }

    .news{
        padding: 65px 120px 4px 120px;
    }

    .row.row-2k {
        margin-right: -40px;
        margin-left: -23px;
    }

    .ft-main {
        padding: 32px 0 15px 0;

        h3{
            padding: 30px 0 28px 0;
        }

        p{
            padding: 23px 0 43px 1px;
            line-height: 22px;
        }
    }

    .ft-nav-right {
        padding-left: 15px;
    }

    .ft-r-chil p {
        padding: 21px 0 30px 1px;
        line-height: 32px;
    }

    .ft-social{
        margin-right: 33px;
    }

    .ft-bt-left{
        margin-left: -5px;
    }

    .ft-bottom {
        padding: 28px 0 30px;

        p {
            margin-right: 5px;
        }
    }

    .ft-bt-right{
        margin-top: -4px;

        a{
            margin-right: 5px;
        }
    }
}
